.chestWrap {
  padding: 10px 30%;
  margin: 2px;
  width: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .chestItemWrap {
    position: relative;
    width: 90px;
    .topCard {
      position: absolute;
      left: -20px;
      bottom: 15px;
      z-index: 10;
    }

    .bottomCard {
      position: relative;
      z-index: 9;
    }

    margin: 2px;
    padding: 2px;
  }
}