.mainWrap {
  border: #ff881a 2px solid;
  padding: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;

  .cardsWrap {
    border: #ff881a 5px double;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cardItem {
      transition: all 0.2s ease-out;
    }

    .cardItem:hover {
      margin-right: 10px;
      margin-left: 10px;
    }

  }
}