.mainWrap {
  border: #ff881a 2px solid;
  padding: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;

  .cardsWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}