.mainWrap {
  position: fixed;
  width: 100%;

  border: deeppink;
  border: 2px solid;
  //margin: 2px;
  padding: 10px;
  height: 20%;
  top: 0;

  .opponentsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}